h1{
    color: red;
    text-decoration: underline;
}
.heading{
    color:blue;
}

.item:nth-child(3n+1){
    background-color:lightgray;
}
.item:nth-child(3n+2){
    background-color:gray;
}
.item:nth-child(3n+3){
    background-color:darkgray;
}

.main_table{
    border: 2px solid black;
}

.item{
    border-color: black;
}